body {
    background: rgb(248, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
}

article {
    font-size: 5000px;
} 

footer {
    max width: 1000px;
    background: #FF0033;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    color: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-family: calibri;
    font-size: 18px;
}  