{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Gran safari en Tanzania</h1>
<p> Vive la experiencia de ascender el Kilimanjaro, una de las montañas mas altas de Africa, disfrutar de un safari por los parques nacionales de Serengeti, Tarangire y Ngorongoro.  </p>
<p>Ademas conoceras la cultura Masai, finalizando el viaje en un hotel de 5 estrellas en las islas Zanzibar.</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/19FuUpbaQPOCEO3ac1q4LcpT6jyHHC7e6/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\safari.jpg" height="292"width="318"></a></strong></p></td>

<p> Formas de pago: Daviplata 3133691641, Nequi 3133691641, Cuenta de Ahorros Banco Davivienda N°488438662725.  </p>




{% endblock %}