{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2 style="text-align: center">&iexcl;CAR RENTALS.</h2>
<p> La agencia de viajes ofrece el servicio de alquiler de vehiculos en cualquier parte del mundo, ya que nuestros clientes prefieren viajar y desplazarsen sin ningun contratiempo: Ademas contaran con un buen servicio para todas las personas, desde vehiculos personales, hasta mini bands, perfecto para toda la familia. </p>
<p>Las condiciones generales son diferentes en cada pais, es por eso que antes de alquilar un auto debe consultarlas con su agente de viajes.</p>
<h2>TARIFAS.</h2>
<p>Las tarifas provienen directamente de los sistemas de reservas de las compañías de alquiler.</p>
<p>Para alquileres en Estados Unidos, todos nuestros planes de renta incluyen Auto con millaje/kilometraje ilimitado (T&M); El seguro de Colisión (LDW/CDW) y los impuestos o recargos locales y estatales relacionados con la tarifa: En adición a estas inclusiones también ofrecemos otras opciones de acuerdo con el plan seleccionado:</p>
<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cuadalq.jpg" height="352"width="740"></a></strong></p></td>
<p>Para alquileres en Canada vamos a usar una sola tarifa que Incluye T&M y LDW/CDW ya que los impuestos se pagan en destino y el seguro de responsabilidad civil suplementario no se ofrece en este país:</p>
<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cuadalqu.jpg" height="192"width="418"></a></strong></p></td>
<p>Los cargos adicionales que se deben pagar en destino estarán cotizados en moneda local (dólares canadienses).</p>
<p>Para alquileres fuera de Estados Unidos o Canada, las tarifas varían por país y en algunos casos podrían incluir solo un numero limitados de millas/kilómetros diarios: Los detalles de las opciones incluidas en la tarifa se pueden verificar cuando se activa el precio del auto.</p>
<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cuadalqui.jpg" height="82"width="1018"></a></strong></p></td>
<h2>SILLAS PARA NIÑOS.</h2>
<P>Todas las empresas con las que trabajamos ofrecen sillas para niños de acuerdo con la edad.</P>
<P>Las sillas cumplen con los requerimientos mínimos requeridos por el departamento de transporte de cada país.</P>
<P>Las sillas son garantizadas con cada reserva: Algunas compañías de alquiler ofrecen 3 tipos de sillas para bebes.</P>
<h3>Infant Seat</h3>
<p>Sillas para recién nacidos en las que él bebe estaría mirando hacia atrás - Sillas para bebes de 2-20 lbs.</p>
<h3>Child Seat</h3>
<p>Sillar para niños de peso entre 20-40 lbs.</p>
<h3>Booster Seat</h3>
<p>Sillas tipos cojín para subir al niño que se acomode al cinturón de seguridad original del auto.</p>
<p>En el estado de la Florida se establece que niños menores de 5 años deben de viajar en la silla de bebe que les correspondan.</p>



{% endblock %}