{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1> Amazonas</h1>
<h2>Leticia.</h2>
<p>- Circuito por el rio Amazonas full dia, donde interactuamos con comunidades indigenas y conoceremos varias especies animales y vegetales. </p>
<p>- Visitaremos la Triple frontera, Brasil y Peru. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/181grTPQ_bcQN9xRNCdQ_MsPNPVkU-D42/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\amazonas.jpg" height="292"width="318"></a></strong></p></td>


{% endblock %}