{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Gran circuito por Norte America</h1>
<p> Conoce New York, Philadelphia, Washington, Niagara y Boston: Ademas, podras recorrer los destinos en autobuses de lujo, conocer el alto y bajo Manhattan, disfrutar de un crucero en las cataratas del Niagara, y descansar en hoteles de lujo. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1VtJHXaqwokvxah4DNzezbKxb3ixHi-Iq/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\canada.jpg" height="292"width="318"></a></strong></p></td>

<h1>Peru, fiesta del sol Inca</h1>
<p> Cusco festival del Raimy, Aguas Calientes, Machupichu. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1osybGFYutUEQqvpYj4fbI7Hq1UvFnbgO/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\perusol.jpg" height="292"width="318"></a></strong></p></td>

<h1>Argentina </h1>
<p> visitando Bariloche, cataratas de Iguazu y Buenos Aires. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1-u76J-TOyVfCG1FkdpdFLWEEUZYHtu7Q/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\baires.jpg" height="292"width="318"></a></strong></p></td>

<h1>Republica Dominicana</h1>
<p>Visita Puerto Plata y disfruta de actividades como excursion a Cayo Arena, excursion a los 27 charcos de Damajagua, interaccion con deslfines en el Ocean World, y mucho mas...</p>

<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1BOcZpP2d9Qqv4zfY-83nUknBZEz_84PU/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\repd.jpg" height="292"width="318"></a></strong></p></td>

<p> Formas de pago: Daviplata 3133691641, Nequi 3133691641, Cuenta de Ahorros N° . </p>


{% endblock %}