{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Manizales</h1>
<h2>Caldas natural y cultural</h2>
<p> Cable aereo, Salamina, Parque Nacional Natural los Nevados, circuito cafetero. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\caldn.jpg" height="292"width="318"></a></strong></p></td>

<h2>Caldas natural</h2>
<p> Centro historico y arquitectinico, Nevado del Ruiz, cascada del rio Molinos, ecoparque Recinto del Pensamiento. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/10JV5uL5wgpkzJYaWQqE2St0sDouS0GCK/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\caldna.jpg" height="292"width="318"></a></strong></p></td>
<h2>Parques tematicos</h2>
<p> Parque del cafe, Panaca. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1VcqCn96kFzmxmwrgBZNHbzMMht_grabT/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\caldnat.jpg" height="292"width="318"></a></strong></p></td>

<h1>Pereira</h1>
<h2> Balsaje, Santuario y los Planes, La pastora. </h2>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/13ttiS_PjcFJi0qeubdZUJzQz5tzCaEVW/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\calsaje.jpg" height="292"width="318"></a></strong></p></td>

<h2> Laguna Verde, Salento valle del Cocora, experiencia cafetera. </h2>>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1iob7TkLVM_QMyKjIOexjSOBUZNMsgH0n/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\laguna.jpg" height="292"width="318"></a></strong></p></td>

<h2> SFF Otun Quimbaya, laguna de Vitor, nevado Santa Isabel. </h2>>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1jv7XTP18caPKNOXQNM46gwQZTzORDleV/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\sff.jpg" height="292"width="318"></a></strong></p></td>

<h2> Travesia Cuenca del Otun. </h2>>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1wt-7vMPiV6W_P5NNtzTDhzTtat-aNLAk/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\travesia.jpg" height="292"width="318"></a></strong></p></td>

<h2> Cumbre nevado Santa Isabel y Laguna Verde. </h2>>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1M7AXTaXl8WVth14hD65TGvqmwCBaB2vG/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cumbre.jpg" height="292"width="318"></a></strong></p></td>

<h1>Suesca Cundinamarca</h1>
<h2>Montañismo y escalada</h2>
<p> Taller llegar a la cima, programa de liderazgo. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1_Z8YaRVlTHSeNmLP47bEtHh-hNOLOoBB/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\montañismo.jpg" height="292"width="318"></a></strong></p></td>


<h2>Planes de aventura</h2>
<p>Escalada basica, multi largo, escalada para niños, rapel, espeleologia o ingreso a cuevas, caminatas. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1vufYTRjZ2Hif0oxTC1_MvoqLEU2mAJB9/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\planes.jpg" height="292"width="318"></a></strong></p></td>

<h2>AIRTENT PORTALEDGE</h2>
<p>Sleeping, escalada en roca multilargo, rappelling. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1jk2BNNyt0U0RhCw_BummOv4bnlN7dbUZ/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\airt.jpg" height="292"width="318"></a></strong></p></td>

<h1>Santander</h1>
<h2>Circuito de 13 actividades, balsaje.</h2>
<p> Cable vuelo, espeologia, senderismo, canoping. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1wjKQb0TurH8RgwPVvjYt7RXg6oUNF-j9/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\act.jpg" height="292"width="318"></a></strong></p></td>

<h2>Barichara, cascadas de Juan Curi, Curiti San Gil.</h2>
<p> Museo arqueologico y panteologico, city tour por las cascadas y valle de San Jose, visitaremos el balneario  </p>
<p>Pescaderito de los 7 pozos con sus aguas cristalinas.</p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1gUNu7HJvTIu53qS3ov_bt_slHMvfwo2P/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cascadas.jpg" height="292"width="318"></a></strong></p></td>

<h2>Cascadas de Juan Curi, Las Gachas, Parque nacional del Chicamocha.</h2>
<p> Tour por el paramo de La Salud, caminata hacia Las Gachas famoso popr sus pozos circulares, telesferico por el . </p>
<p>Cañon del Chicamocha</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1_gMS8BcsYM6IltsMtrx09rgOwScz9J1l/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\curi.jpg" height="292"width="318"></a></strong></p></td>

<h1>Tolima</h1>
<h2>Travesia.</h2>
<p> Ascenso por la selva andina, caminata y ascenso hacia el nevado del Tolima. </p>



<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1bc5SVHhhOzUjCTKlHLtdBldP81gXKWqO/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\trat.jpg" height="292"width="318"></a></strong></p></td>

{% endblock %}