{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Gran circuito por el Medio Oriente </h1>
<p>- Conoceremos las antiguas civilizaciones de Egipto, Israel y Jordania. </p>
<p>- Las islas Griegas</p>
<p>- Cruceros en Turquia y Grecia, y mucho mas...</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/13FbEibpWgUFpkR8zlo9HcJhiLtrzW895/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\medioor.jpg" height="292"width="318"></a></strong></p></td>

<h2>CONDICIONES</h2>
<p>El incumplimiento de las fechas de pago genera cancelación de la reserva sin previo aviso, aplicando las penalidades correspondientes descritas en las políticas de cancelación</p>
<p>Formas de pago: Daviplata 3133691641, Nequi 3133691641, Cuenta de Ahorros Banco Davivienda N° 488438662725. </p>
<p>Una vez realizada la transferencia envíanos una foto del comprobante de pago al Whatsapp:3138076110 o al correo paramostravels65@gmail.com</p>
<p>Puede regístrese en el siguiente <a href=" https://forms.gle/jpGRMwHjmoyqKE4E9"rel="noopener"><h2>REGISTRO</h2></a></p>

{% endblock %}