{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Cartagena</h1>
<p> Chiva rumbera, isla del Rosario y Baru, playa la Cocotera, y mucho mas. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1WAnxAWjzrXZcR2ni27GfL6SSr6XmAcVw/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cart.jpg" height="292"width="318"></a></strong></p></td>

<h1>Santa Marta</h1>
<p>- Tour por la ciudad (Quinta de San Pedro, Museo Tayrona, Taganga). </p>
<p>- Salida al Acuario, Transporte en barco a Pikua Playa Blanca, y Bahia Katamaran. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1c7pRXyRt41xUWm8vMCGOfGoxg0EginmH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\sant.jpg" height="292"width="318"></a></strong></p></td>

<h1>San Andres</h1>
<p>- Yate rumbero nocturno por la bahia principal. </p>
<p>- Vuelta a la isla transporte terrestre (Museo Pirata, hoyo soplador, Mirador). </p>
<p>- Visita al Acuario</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1m2WSa_4doiJK_khhzmwy2Q77dw0GtAGt/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\sanand.jpg" height="292"width="318"></a></strong></p></td>

<p> Formas de pago: Daviplata 3133691641, Nequi 3133691641, Cuenta de Ahorros Banco Davivienda N° 488438662725. </p>


{% endblock %}