{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Tour de la ópera de Sídney $152.805</h1>
<p>Vaya detrás de escena de uno de los íconos más famosos del mundo, con una visita guiada a la Ópera de Sydney y explore posiblemente el edificio más reconocible que Australia tiene para ofrecer: Fue diseñado por el arquitecto danés Jørn Utzon, este edificio declarado Patrimonio de la Humanidad por la UNESCO.  </p>

<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\opera.jpg" height="292"width="318"></a></strong></p></td>

<h1>Acuario Sea Life Sydney $172.898</h1>
<p>Sea Life Sydney Aquarium ofrece una gran salida familiar llena de diversión acuática, y es fácilmente una de las mejores atracciones para visitar en Sydney.  </p>

<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\acua.jpg" height="292"width="318"></a></strong></p></td>

<h1>Crucero turístico hop on - hop off por la bahía de sydney $178.064</h1>
<p>Disfruta de la experiencia más completa que te brinda la oportunidad de explorar la bahía de Sídney con un toque marino: a bordo de un barco turístico hop on - hop off.  </p>

<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cruonh.jpg" height="292"width="318"></a></strong></p></td>

<h1>Go city - sydney explorer pass - acceso a hasta 7 atracciones $279.465</h1>
<p>Ahorre dinero con hasta un 35 % de descuento en los precios de entrada combinados, ahorre tiempo: disfrute de privilegios de línea en atracciones selectas, y flexibilidad para crear su propio itinerario a partir de más de 20  </p>

<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\goci.jpg" height="292"width="318"></a></strong></p></td>

<h1>Aventura a las montañas azules desconocidas - tour de día completo $477.464</h1>
<p>En el camino a las Montañas Azules, visitamos el Parque de Vida Silvestre Featherdale para un encuentro práctico con la vida silvestre australiana. </p>

<td width="387" align="center" style="text-align: center"><p><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\montaz.jpg" height="292"width="318"></a></strong></p></td>

<h2>Condiciones</h2>
<p>- Formas de pago: Daviplata 3133691641, Nequi 3133691641, Cuenta de Ahorros Banco Davivienda N°488438662725.  </p>
<p>- Los precios estan en pesos colombianos, el cual el valor corresponde a precio por dia sujetos a cambios de precio.</p>
<p>- El valor del plan no esta incluido tiquetes aereos, alimentacion y hospedaje: Los puedes consultar con nuestra agencia de viajes</p>


{% endblock %}