{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Villa de Leyva, Sutamarchan</h1>
<p>Caminata y canopy Cascada la Periquera, visita al viñedo Ainkarim, Parque Paso del Angel, etc. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\pangel.jpg" height="292"width="318"></a></strong></p></td>

<h1>Santa Sofia</h1>
<p>Cueva y Cascada el Hayal, Casa Terracota. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\casaterr.jpg" height="292"width="318"></a></strong></p></td>

<h1>Santa Sofia, Villa de Leyva</h1>
<p>Espeologia, caminata, cabalgata, escalada, etc. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\avent.jpg" height="292"width="318"></a></strong></p></td>
{% endblock %}