{% extends './base.html' %} {% block title%} condiciones {% endblock %} {% block
body %}

<h2 style="text-align: center">CONTACTO</h2>



<h3>Celular o whatsapp</h3>
<p>+57 3138076110</p>

<h3>Correo electronico</h3>
<p>paramostravels65@gmail.com</p>

<h3>Facebook</h3>
<p>paramos travels</p>

<h3>Instagram</h3>
<p>paramos.travels</p>

<h3>Contactanos</h3>
<p>Autorización de tratamiento de datos personales - HABEAS DATA: </p>
<p>Ley 1581 de 2012 Ley general de protección de datos, autorizo mediante el presente contrato a la agencia tratar los datos personales suministrados en desarrollo de la presente relación contractual, durante el tiempo de permanencia en la entidad y después de terminada la relación, siempre y cuando haya una conservación legal o contractual por parte de la agencia.</p>

<h2 style="text-align: center"><a href=" https://forms.gle/jpGRMwHjmoyqKE4E9"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\boton.jpg" height="40"width="100"></a></strong></h2>



{% endblock %}
