{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2 style="text-align: center">&iexcl;NUESTROS CRUCEROS.</h2>
<h3>Clik en la imagen para ver el video</h3>

<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1OMz7p43WL9vcNQnfVBcAgnMQSGrBMmAf/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cru.jpg" height="292"width="198"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1QObv8MRpTUx1bvy6_2ouW1yRN_BRZxZf/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\norwegian.jpg" height="292"width="198"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1HJ3i0H3QEB3hRr6U69890fsyohfgzN93/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\seaside.jpg" height="292"width="198"></a></strong></p></td>
  </tr>
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/11jMDNIJf5aBTj0kirtxRHBwMfSO785K5/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\princess.jpg" height="292"width="198"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1riW3WY9IqUvs6YsSyZwGsNCIvGWNb-J8/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\enchanted.jpg" height="292"width="198"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1WovNZpLQXiNdOVlIIcsrTK1qFMoAkOms/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cruc.jpg" height="292"width="198"></a></strong></p></td>
  </tr>
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/12bdZAXyTOrM_d8IBpO5YpxDpfe5CEjJc/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\holland.jpg" height="292"width="198"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1Y9WBziHbU1VaFSa6z3zJDAmfKSP7UDIB/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cruce.jpg" height="292"width="198"></a></strong></p></td>
      
  </tr>
</table>

<h2 style="text-align: center">&iexcl;NUESTROS DESTINOS.</h2>


<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><h1>Crucero por el Caribe</h1><p><a href="https://drive.google.com/file/d/1MYDcGpLJEqZvVdx_3eTUwGQ6bY64VDW5/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\crucaribe.jpg" height="592"width="318"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><h1>Bahamas y Mexico</h1><p><a href="https://drive.google.com/file/d/1oTGy8TZ51FqqYIMhEpN52GfK_YewD7RB/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\crubahamas.jpg" height="592"width="318"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><h1>Crucero desde Cartagena</h1><p><a href="https://drive.google.com/file/d/1MCNyQYXVAe1DG71dytYEL2Ov1I9SRLtQ/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\crucartagena.jpg" height="592"width="318"></a></strong></p></td>
  </tr>
  <tr>
    <td width="387" align="center" style="text-align: center"><h1>Crucero por el Mediterraneo.</h1><p><a href="https://drive.google.com/file/d/1CZrpQS25wLgPaLtQfTmDRKmO5uRVt7ME/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\crumediterraneo.jpg" height="592"width="318"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><h1>Sur America y La Antartida.</h1><p><a href="https://drive.google.com/file/d/1CZrpQS25wLgPaLtQfTmDRKmO5uRVt7ME/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cruant.jpg" height="592"width="318"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><h1>Islas Griegas.</h1><p><a href="https://drive.google.com/file/d/18pnN9A_TNqalY1RbTE5dM5q8sMe3KPff/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cruaten.jpg" height="592"width="318"></a></strong></p></td>
  </tr>
  <tr>
    <td width="387" align="center" style="text-align: center"><h1>Las Bahamas.</h1><p><a href="https://drive.google.com/file/d/1cWyidnLcjho4clvKkT6ER4xrvmzOb47D/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\crubaham.jpg" height="592"width="318"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><h1>Europa.</h1><p><a href="https://drive.google.com/file/d/14C6DQHd3mObby89IhVYCtBW_KXP26cHS/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\crueuropa.jpg" height="592"width="318"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><h1>Washington, Canada, Alaska.</h1><p><a href="https://drive.google.com/file/d/1JhexMhRojXYglOHnl6FTjT76zaea67H6/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cruwas.jpg" height="592"width="318"></a></strong></p></td>
  </tr>
  <tr>
    <td width="387" align="center" style="text-align: center"><h1>Italia, Grecia y Turquia.</h1><p><a href="https://drive.google.com/file/d/1QnUIotSHy5LkgdwbYvRbvToCKLw1AinY/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\tri.jpg" height="592"width="318"></a></strong></p></td>
    
  </tr> 
</table>

{% endblock %}