{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2 style="text-align: center">&iexcl;MAGIC KINGDOM.</h2>



<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1RfFC_wt2zlZqJvB3M_QLuNFayyn-yjZQ/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\magick.jpg" height="332"width="358"></a></strong></p></td>
    
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1WF55Ci4CN33KRAIXF8UGub35UVV42j1g/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\magicki.jpg" height="332"width="358"></a></strong></p></td>
  </tr>
  
</table>

<h2 style="text-align: center">&iexcl;DISNEY HOLLYWOOD.</h2>



<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1rYmEY7WTRW46T_EAcAbWbH7ukoZpRP8L/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\holly.jpg" height="332"width="358"></a></strong></p></td>
    
    
  </tr>
  
</table>

<h2 style="text-align: center">&iexcl;EPCOT.</h2>



<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1KGtd0iDHqREeqPoCbuhHLGc84zwbdXz6/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\epc.jpg" height="332"width="358"></a></strong></p></td>
    
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1R2i7UXRQmx6H4YYGS6Wx9gx36UNpoGKh/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\epco.jpg" height="332"width="358"></a></strong></p></td>
  </tr>
  
</table>

<h2 style="text-align: center">&iexcl;ANIMAL KINGDOM.</h2>



<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1drqIb5ZVTJdt-WFhtg3Cy9qdnvnJCHYr/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\animalk.jpg" height="332"width="358"></a></strong></p></td>
    
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SjArT9-dFreIIfNN7fT-9nVrVRiXhiBz/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\animalki.jpg" height="332"width="358"></a></strong></p></td>
  </tr>
  
</table>

{% endblock %}