{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Paipa, Aquitania</h1>
<p>Parque agroecoturistico Atisbe, piscinas termales, lago de Tota. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\tota.jpg" height="292"width="318"></a></strong></p></td>
<h1>Ruta por Paipa</h1>

<<p>Manoa Parque, piscinas termales, Paramo Rancheria, Chorro Blanco.. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\rancheria.jpg" height="292"width="318"></a></strong></p></td>




{% endblock %}