{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Gran circuito por el continente Europeo</h1>
<p>Conoce España, Alemania, Francia, Paises bajos, Finlandia y muchos paises mas en varios circuitos por Europa: Ademas, podras conocer muchas culturas europeas. </p>
<p>asi como de su gastronomia, y diferentes hoteles de lujo.</p>

<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1MExryMccwnT5VbpIUDi6_qHopI5eYmzm/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\circuitoe.jpg" height="292"width="318"></a></strong></p></td>

<h1>España, Portugal y Marruecos</h1>
<p>Conoceremos la ciudad de Madrid, el casco antiguo de la ciudad de Salamanca, la catedral de la ciudad de Oporto en Portugal, degustaremos sus famosos vinos, cruzaremos. </p>
<p>el Estrecho de Gibraltar hacia Marruecos, y mucho mas...</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/106Bro9vlFaJn59lNkSqlA1vlm3i7757q/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\portugal.jpg" height="292"width="318"></a></strong></p></td>



<h2>CONDICIONES</h2>
<p>- El incumplimiento de las fechas de pago genera cancelación de la reserva sin previo aviso, aplicando las penalidades correspondientes descritas en las políticas de cancelación</p>
<p>- Formas de pago: Daviplata 3133691641, Nequi 3133691641, Cuenta de Ahorros Banco Davivienda N° 488438662725. </p>
<p>- Una vez realizada la transferencia envíanos una foto del comprobante de pago al Whatsapp:3138076110 o al correo paramostravels65@gmail.com</p>
<p>- Por favor regístrese en el siguiente <a href=" https://forms.gle/jpGRMwHjmoyqKE4E9"rel="noopener"><h2>REGISTRO</h2></a></p>

{% endblock %}