{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2 style="text-align: center">&iexcl;EVENTOS.</h2>
<p> Contamos con muchos eventos realizados en todo el mundo, tenemos: Conciertos, eventos deportivos, eventos culturales, etc..</p>


<table width="0" border="0">
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1MRb9Xzbhn9PFTL13dqfom-oXb2KH6x-Z/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\tomor.jpg" height="462"width="488"></a></strong></p></td>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1J-O1G0hbDG_TEiHZuZ-WpzKC0j0ClRmj/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\wenble.jpg" height="462"width="488"></a></strong></p></td>
    
  </tr>
  <tr>
    <td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1tihVTIlwIGJ2-j_SHnnXnu6HSXqkbk79/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\mundial.jpg" height="462"width="488"></a></strong></p></td>
   
    
  </tr>
</table>



{% endblock %}