{% extends './base.html' %} {% block title%} Index {% endblock %} {% block body
%}
<h2 style="text-align: center">&iexcl;NUESTROS DESTINOS.</h2>

<table width="0" border="0">
  <tr>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a
            class="nav-link"
            href="{{ url_for('vinternacional') }}"
            rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\viajesint.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('vnacional') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\viajesnac.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('cruceros') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\cruceros.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
  </tr>
  <tr>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a
            class="nav-link"
            href="{{ url_for('viajesdisney') }}"
            rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\parquedisney.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a
            class="nav-link"
            href="{{ url_for('seguroviaje') }}"
            rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\seguroviaje.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('eventos') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\eventos.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
  </tr>
  <tr>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('alquilerc') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\alquilercar.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('sim') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\simcard.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
  </tr>
</table>

<h2 style="text-align: center">&iexcl;RUTAS POR BOYACA.</h2>

<table width="0" border="0">
  <tr>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('sendero') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\senderismo.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('termal') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\termalismo.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('religion') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\religioso.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
  </tr>
  <tr>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a
            class="nav-link"
            href="{{ url_for('ecoturistico') }}"
            rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\ecoturismo.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a class="nav-link" href="{{ url_for('aventura') }}" rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\act.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
    <td height="39" align="center" style="text-align: center">
      <p>
        <strong
          ><a
            class="nav-link"
            href="{{ url_for('arqueologia') }}"
            rel="noopener"
            ><img
              src="C:\Users\Usuario\Downloads\App_Flask\assets\arqueologico.jpg"
              height="332"
              width="358" /></a
        ></strong>
      </p>
    </td>
  </tr>

  <tbody></tbody>
</table>

<h2>Ley 1336 de 2009</h2>
<p>
  Esta prohibido el turismo sexual y la explotacion de niños y adolescentes en
  Colombia
</p>
<p>Lineas de atencion: 122, 141</p>

<h2>Formas de pago:</h2>

<table width="0" border="0">
  <tr>
    <td width="400" height="39" align="center" style="text-align: center">
      <img
        src="C:\Users\Usuario\Downloads\App_Flask\assets\nequi.jpg"
        height="152"
        width="128"
      />
      <p><strong></strong></p>
    </td>

    <td width="400" height="39" align="center" style="text-align: center">
      <img
        src="C:\Users\Usuario\Downloads\App_Flask\assets\daviplata.jpg"
        height="122"
        width="128"
      />
      <p><strong></strong></p>
    </td>
  </tr>
</table>
<p>Cuenta Nequi o Daviplata N°3133691641</p>

<td width="400" height="39" align="center" style="text-align: center">
  <img
    src="C:\Users\Usuario\Downloads\App_Flask\assets\davivienda.jpg"
    height="122"
    width="128"
  />
  <p><strong></strong></p>
</td>
<p>Cuenta de ahorros Banco Davivienda N°488438662725.</p>

{% endblock %}
