{% extends './base.html' %} {% block title%} nosotros {% endblock %} {% block
body %}
<h2 style="text-align: center">
  <td width="400" height="39" align="center" style="text-align: center">
    <img
      src="C:\Users\Usuario\Downloads\App_Flask\assets\cocuy2.jpg"
      height="350"
      width="918"
    />
    <p><strong></strong></p>
  </td>
</h2>
<h2>Datos de la empresa</h2>

<p>
  La Agencia de Viajes Paramos Travels es una agencia de viajes y turismo
  ubicada en la ciudad de Paipa Boyaca con NIT 4192433-3 y Registro Nacional de
  Turismo 35741, que ofrece viajes nacionales y internacionales.
</p>
<p>
  Esta empresa se acoge al regimen de responsabilidad de las soguientes leyes y
  decretos: Ley 300 de 1996, ley 1480 de 2011, ley 1581 de 2012, ley 1558 de
  2012, ley 1336 de 2009, decreto 1075 de 1997, decreto 053 de 2002, decreto
  2590 de 2009, decreto 2438 de 2010.
</p>

<h2>Nuestro portafolio de servicios.</h2>
<p>- Viajes nacionales e internacionales</p>
<p>- Paquetes todo incluido</p>
<p>- Hospedaje</p>
<p>- Tiquetes aereos</p>
<p>- Tiquetes a eventos deportivos y conciertos</p>
<p>- Circuitos</p>
<p>- Cruceros</p>
<p>- Alquiler de autos</p>
<p>- Asistencia al viajero</p>
<p>- Pasadias</p>
<p>- Parques</p>
<p>- Venta de SIM CARDS para llamadas internacionales</p>
<h2>Mision</h2>
<p>
  Brindar un buen servicio en la asistencia de viajes a nuestros clientes, que
  superen sus expectativas y experiencias en el viaje; contamos con un buen
  equipo de trabajo profesional que estan en capacidad de orientar a los
  viajeros en su recorrido
</p>

<h2>Vision</h2>
<p>
  Para el 2027 queremos ser reconocido como una de las importantes agencias de
  viajes a nivel nacional, por su calidad en los servicios de las rutas
  turisticas nacionales e internacionales y un turismo sostenible, en el cuidado
  del medio hambiente y desarrollo de las comunidades locales por medio de la
  actividad turistica.
</p>

<h2>Nuestros valores</h2>
<p>- Conciencia por la naturaleza</p>
<p>- Respeto</p>
<p>- Honestidad</p>
<p>- Profesionalismo</p>
<p>- Trabajo en equipo</p>

{% endblock %}
