{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1> Meta</h1>
<h2>La Macarena.</h2>
<p>- Caminata por el sendero, avistamiento de aves, laguna del Silencio. </p>
<p>- Caño Cristales, con su hermoso rio de diversos colores. </p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1h_rcSM4nPUmieqmpQlr6LOGiIWKVxybq/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\llano.jpg" height="292"width="318"></a></strong></p></td>

{% endblock %}