{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Choco</h1>
<h2>Bahia Solano temporada de ballenas.</h2>
<p>- 2 salidas de avistamiento de ballenas en lancha. </p>
<p>- Caminata hacia la playa de los deseos, y riachuelos de Juna</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1_IoJuv_5I-HW_VzWFJzr-dGe0qAZOvIt/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\ball.jpg" height="292"width="318"></a></strong></p></td>

<h2>Plan Nuqui 3 noches.</h2>
<p>- Paseo en lancha a pozos termales de Aruz, cascada del Amor. </p>
<p>- Caminata guiada a playa Daisy</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1-9m96HDfloAXOQtvS7_JqYVuev_kJ1ED/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\nuqui.jpg" height="292"width="318"></a></strong></p></td>

<h2>Plan Nuqui temporada de ballenas.</h2>
<p>- Avistamiento de ballenas con paseo a termales de Arusi, playa Guachalito. </p>
<p>- Caminata guiada a playa Daisy</p>


<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1ftDb7hTIh5EW1RzQyCKGMwV5QYkP7LmR/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\plann.jpg" height="292"width="318"></a></strong></p></td>

{% endblock %}