{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Ruta por los 7 templos mas importantes de Boyaca</h1>
<p>Basilica Santiago de Tunja, Templo doctrinero Sachica y Monte Calvario, convento La Candelaria, Basilica del Rosario Chiquinquira, etc.. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\mongui.jpg" height="292"width="318"></a></strong></p></td>


<h1>Sendero santuario de la virgen del coro</h1>

<p>Termales de Sachica, Raquira, Monumento virgen del Coro. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\coro.jpg" height="292"width="318"></a></strong></p></td>

<h1>Valle de Tenza</h1>

<p>Iglesia nuestra señora del Rosario, santuario del Santo Cristo del cerro de Somondoco, recorrido por el lago, etc. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\tenza.jpg" height="292"width="318"></a></strong></p></td>

<h1>Tunja y Paipa</h1>

<p>Iglesia de Santo Domingo, santuario virgen del Topo, camino historico Cruz de Bonza, etc. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\sanm.jpg" height="292"width="318"></a></strong></p></td>

<h1>Ruta de la virgen de la milagrosa</h1>

<p>Iglesia nuestra señora del Milagro del Topo, convento del santo Eccehomo, etc. </p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\rosario.jpg" height="292"width="318"></a></strong></p></td>




{% endblock %}