{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2 style="text-align: center">
    <td width="400" height="39" align="center" style="text-align: center">
      <img
        src="C:\Users\Usuario\Downloads\App_Flask\assets\bahia.jpg"
        height="350"
        width="918"
      />
      <p><strong></strong></p>
    </td>
  </h2>
<h2 style="text-align: center">&iexcl;SEGURO DE VIAJE.</h2>
<p> Nuestros clientes siempre contaran con la seguridad de viajar tranquilos a cualquier parte del mundo, ya que cuentan con la mejor asistencia medica y seguridad.</p>


<a href="https://drive.google.com/file/d/1w8RoSsCW9ycbHY4FeaWxeoZmpWmgj2S3/view?usp=share_link"rel="noopener"><h2>VIAJE INTERNACIONAL</h2></a> 


<a href="https://drive.google.com/file/d/1-gHPzkZcQgc28T85sjlif6cska3ucPi1/view?usp=share_link"rel="noopener"><h2>VIAJE NACIONAL</h2></a> 


<a href="https://drive.google.com/file/d/1Tar1yzgJzNhfpKRXfctGKacQAtdGHqLa/view?usp=share_link"rel="noopener"><h2>VIAJE SIMPLE LOW COST</h2></a> 

{% endblock %}