{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2>SIM CARDS</h2>
<p> Ofrecemos un amplio numero de tarifas en datos y llamadas, dependiendo el lugar a donde vaya a viajar, y el numero de dias que va a durar.</p>
<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1i3OB1-651vSVoawWaTadrEpUxwqTcnOT/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\celu.jpg" height="492"width="718"></a></strong></p></td>



{% endblock %}