{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h1>Sáchica y Zetaquira.</h1>

<p>Termales de Sachica, museo AntonioNariño, Cascadas termales de Zetaquira. </p>

<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\cascadazet.jpg" height="292"width="318"></a></strong></p></td>

<h1>Paipa.</h1>

<p>Laguna Seca, fauna y flora, circuito termal de Paipa. </p>

<td width="387" align="center" style="text-align: center"><p><a href="https://drive.google.com/file/d/1SLfKolJTkntHJ3NX0jgGaiFE43bRMxAH/view?usp=share_link"rel="noopener"><strong></strong><img src="C:\Users\Usuario\Downloads\App_Flask\assets\termal.jpg" height="292"width="318"></a></strong></p></td>
{% endblock %}