{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<h2 style="text-align: center">&iexcl;NUESTROS, DESTINOS.</h2>
<h2> Thene park base</h2>

<p>Puedes escoger desde 2 dias hasta 5 o 6 dias de parque: Tienes que ingresar en un parque por dia, o dependiendo el tiempo que dispongas a todos los parque que ofrecemos para ti.</p>

<table width="0" border="0">

  <tr>
    <td height="39" align="center" style="text-align: center"><p><strong><a class="nav-link" href="{{ url_for('disn') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\themepb.jpg" height="162"width="288"></a></strong></p></td>
      
  </tr>
 
  </table>
 <h2>CONDICIONES:</h2>
 <p>- El precio no incluye tiquetes aereos, hospedaje, alimentacion o ingreso a restaurantes: Estos servicios los debes reservar a la agencia de viajes.</p>
 <p>- Hay algunas atracciones que debes reservarlas por aparte, ya que no estan incluidas dentro del paquete: Consultalas con tu agente de viajes.</p>
 <p>- Si quieres obtener informacion adicional, puedes descargar la App My Disney Experience: https://disneyworld.disney.go.com/es-us/plan/my-disney-experience/mobile-apps/</p>

{% endblock %}