{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}
<table width="0" border="0">
    <tr>
      <td height="39" align="center" style="text-align: center"><p><strong><a class="nav-link" href="{{ url_for('america') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\america.jpg" height="332"width="358"></a></strong></p></td>
      <td height="39" align="center" style="text-align: center"><p><strong><a class="nav-link" href="{{ url_for('asia') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\asia.jpg" height="332"width="358"></a></strong></p></td>
      <td height="39" align="center" style="text-align: center"><p><strong><a class="nav-link" href="{{ url_for('africa') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\africa.jpg" height="332"width="358"></a></strong></p></td>
    </tr>
    <tr>
      <td height="39" align="center" style="text-align: center"><p><strong><a class="nav-link" href="{{ url_for('europa') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\europa.jpg" height="332"width="358"></a></strong></p></td>
      <td height="39" align="center" style="text-align: center"><p><strong><a class="nav-link" href="{{ url_for('australia') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\aust.jpg" height="332"width="358"></a></strong></p></td>
      
      
      
    </tr>
</table>


{% endblock %}