{% extends './base.html' %}

{% block title%} Lenguajes {% endblock %}

{% block body %}









<img src="C:\Users\harold\Desktop\App_Flask\assets\blanco.jpg" height="72"width="98">

<table width="0" border="0">
  <tr>
    <td height="39" align="center" style="text-align: center"><h1>ANDINA</h1><p><strong><a class="nav-link" href="{{ url_for('andina') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\andina.jpg" height="332"width="358"></a></strong></p></td>
    <td height="39" align="center" style="text-align: center"><h1>AMAZONAS</h1><p><strong><a class="nav-link" href="{{ url_for('amazonas') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\amazonas.jpg" height="332"width="358"></a></strong></p></td>
    <td height="39" align="center" style="text-align: center"><h1>ATLANTICO</h1><p><strong><a class="nav-link" href="{{ url_for('atlantico') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\atlantico.jpg" height="332"width="358"></a></strong></p></td>
  </tr>
  <tr>
    <td height="39" align="center" style="text-align: center"><h1>PACIFICO</h1><p><strong><a class="nav-link" href="{{ url_for('pacifico') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\pacifico.jpg" height="332"width="358"></a></strong></p></td>
    <td height="39" align="center" style="text-align: center"><h1>LLANO</h1><p><strong><a class="nav-link" href="{{ url_for('llano') }}"rel="noopener"><img src="C:\Users\Usuario\Downloads\App_Flask\assets\llano.jpg" height="332"width="358"></a></strong></p></td>
   
  </tr>
 
  
  <tbody>
  </tbody>
</table>


{% endblock %}